In [2]:
pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/a9/8f/2a053003f7d6e8c1caa7b61499dfc3a7c33bdc85a06fa00d5a7445e2fb1f/yfinance-0.1.56.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/cf/4d/6537313bf58fe22b508f08cf3eb86b29b6f9edf68e00454224539421073b/lxml-4.6.3-cp37-cp37m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 6.3MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.56-py2.py3-none-any.whl size=22627 sha256=a9fa56646bb09bef511de2d4445f21ce6f6c74087c5a81d24015beb66cc0313c
  Stored in directory: /root/.cache/pip/wheels/e9/26/69/ebde3c87490e75c5d8b06cf2dd284d1183ca1bb814b1d5f18c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.56

In [3]:
import pandas as pd
import requests
import json
import ast
import yaml
import urllib
import yfinance
from datetime import datetime, timedelta
#from google.colab import drive

In [4]:

df_tweets = pd.read_csv('https://raw.githubusercontent.com/ml-group8/assignment/main/df_tweets_sentiment.csv')
# Keep only required columns
df_tweets = df_tweets[['created_at', 'id', 'tweet', 'sentiment', 'confidence']]

# Convert created_at column fro mstring to datetime
def string_to_datetime(str_date):
  str_date = str_date[:19]
  return datetime.strptime(str_date, "%Y-%m-%dT%H:%M:%S")

df_tweets['created_at'] = df_tweets['created_at'].map(lambda strDateTime: string_to_datetime(strDateTime))

max_date = df_tweets['created_at'].max()
min_date = df_tweets['created_at'].min()
type(min_date)

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
from datetime import datetime, timedelta, timezone
#print(max_date.strftime('%Y-%m-%d'))

#TODO adjust to UTC as the tweets are at that timezone

#A/p the yfinance docs, Note: yahoo finance datetimes are received as UTC.
#however when visualizing the df the Datetime field is UTC-4 ???
drive_etf_ticker = yfinance.Ticker("DRIV")
drive_etf = drive_etf_ticker.history(
    start=min_date.strftime('%Y-%m-%d'),
    end=max_date.strftime('%Y-%m-%d'),
    interval='60m'
).reset_index()

# The Yahoo finance are in EST so convert them to UTC to match the tweets' timezone
drive_etf['DatetimeUTC'] = drive_etf['Datetime'].dt.tz_convert('UTC')
# Check DatetimeUTC really is UTC
drive_etf

                    Datetime       Open  ...  Stock Splits               DatetimeUTC
0  2021-03-15 09:30:00-04:00  27.338800  ...             0 2021-03-15 13:30:00+00:00
1  2021-03-15 10:30:00-04:00  27.409201  ...             0 2021-03-15 14:30:00+00:00
2  2021-03-15 11:30:00-04:00  27.264400  ...             0 2021-03-15 15:30:00+00:00
3  2021-03-15 12:30:00-04:00  27.306000  ...             0 2021-03-15 16:30:00+00:00
4  2021-03-15 13:30:00-04:00  27.330000  ...             0 2021-03-15 17:30:00+00:00
5  2021-03-15 14:30:00-04:00  27.429800  ...             0 2021-03-15 18:30:00+00:00
6  2021-03-15 15:30:00-04:00  27.389999  ...             0 2021-03-15 19:30:00+00:00
7  2021-03-16 09:30:00-04:00  27.549999  ...             0 2021-03-16 13:30:00+00:00
8  2021-03-16 10:30:00-04:00  27.629999  ...             0 2021-03-16 14:30:00+00:00
9  2021-03-16 11:30:00-04:00  27.600000  ...             0 2021-03-16 15:30:00+00:00
10 2021-03-16 12:30:00-04:00  27.450001  ...             0 2021-03-16 16:30:00+00:00
11 2021-03-16 13:30:00-04:00  27.549999  ...             0 2021-03-16 17:30:00+00:00
12 2021-03-16 14:30:00-04:00  27.330000  ...             0 2021-03-16 18:30:00+00:00
13 2021-03-16 15:30:00-04:00  27.410000  ...             0 2021-03-16 19:30:00+00:00
14 2021-03-17 09:30:00-04:00  27.000000  ...             0 2021-03-17 13:30:00+00:00
15 2021-03-17 10:30:00-04:00  27.288401  ...             0 2021-03-17 14:30:00+00:00
16 2021-03-17 11:30:00-04:00  27.170000  ...             0 2021-03-17 15:30:00+00:00
17 2021-03-17 12:30:00-04:00  27.240000  ...             0 2021-03-17 16:30:00+00:00
18 2021-03-17 13:30:00-04:00  27.250000  ...             0 2021-03-17 17:30:00+00:00
19 2021-03-17 14:30:00-04:00  27.420000  ...             0 2021-03-17 18:30:00+00:00
20 2021-03-17 15:30:00-04:00  27.770000  ...             0 2021-03-17 19:30:00+00:00
21 2021-03-18 09:30:00-04:00  27.549999  ...             0 2021-03-18 13:30:00+00:00
22 2021-03-18 10:30:00-04:00  27.580000  ...             0 2021-03-18 14:30:00+00:00
23 2021-03-18 11:30:00-04:00  27.660000  ...             0 2021-03-18 15:30:00+00:00
24 2021-03-18 12:30:00-04:00  27.639999  ...             0 2021-03-18 16:30:00+00:00
25 2021-03-18 13:30:00-04:00  27.500000  ...             0 2021-03-18 17:30:00+00:00
26 2021-03-18 14:30:00-04:00  27.350000  ...             0 2021-03-18 18:30:00+00:00
27 2021-03-18 15:30:00-04:00  27.110001  ...             0 2021-03-18 19:30:00+00:00
28 2021-03-19 09:30:00-04:00  27.000000  ...             0 2021-03-19 13:30:00+00:00
29 2021-03-19 10:30:00-04:00  26.934999  ...             0 2021-03-19 14:30:00+00:00
30 2021-03-19 11:30:00-04:00  26.945000  ...             0 2021-03-19 15:30:00+00:00
31 2021-03-19 12:30:00-04:00  27.129999  ...             0 2021-03-19 16:30:00+00:00
32 2021-03-19 13:30:00-04:00  27.120001  ...             0 2021-03-19 17:30:00+00:00
33 2021-03-19 14:30:00-04:00  27.090000  ...             0 2021-03-19 18:30:00+00:00
34 2021-03-19 15:30:00-04:00  27.040001  ...             0 2021-03-19 19:30:00+00:00

[35 rows x 9 columns]

In [ ]:

del drive_etf['Datetime']